<h2>Users</h2>

@if (loading()) {
  <div>Loading...</div>
}
@if(error()){
 <div style="color:red;">
  {{ error() }}
</div> 
}

@if (!loading()) {
  <table border="1" cellpadding="10" >
  <thead>
    <tr>
      <th>Company Name</th>
      <th>Email</th>
      <th>Plan</th>
    </tr>
  </thead>

  <tbody>
    @for (user of users; track user._id) {
  <tr>
      <td>{{ user.name }}</td>
      <td>{{ user.email}}</td>
      <td>{{ user.role }}</td>
       <td><button (click)="onUpdate(user)">Update</button></td>
      <td><button (click)="onDelete(user._id)">Delete</button></td>
    </tr>
}
  </tbody>
</table>
}



